In [10]:
import pandas as pd

In [11]:
df =pd.read_excel("Desktop/netflix.xlsx")

In [12]:
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [13]:
print(df.isnull().sum())

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [14]:
duplicates=df[df.duplicated()]
print(duplicates)
df.drop_duplicates(inplace=True)

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

In [25]:
df["cast"]=df["cast"].str.lower()
df["cast"]

0                                                     NaN
1       ama qamata, khosi ngema, gail mabalane, thaban...
2       sami bouajila, tracy gotoas, samuel jouy, nabi...
3                                                     NaN
4       mayur more, jitendra kumar, ranjan raj, alam k...
                              ...
8802    mark ruffalo, jake gyllenhaal, robert downey j...
8803                                                  NaN
8804    jesse eisenberg, woody harrelson, emma stone, ...
8805    tim allen, courteney cox, chevy chase, kate ma...
8806    vicky kaushal, sarah-jane dias, raaghav chanan...
Name: cast, Length: 8807, dtype: object

In [26]:
df["country"]=df["country"].str.lower()
df["country"]

0       united states
1        south africa
2                 NaN
3                 NaN
4               india
            ...
8802    united states
8803              NaN
8804    united states
8805    united states
8806            india
Name: country, Length: 8807, dtype: object

In [27]:
df["title"]=df["title"].str.lower()
df["title"]

0        dick johnson is dead
1               blood & water
2                   ganglands
3       jailbirds new orleans
4                kota factory
                ...
8802                   zodiac
8803              zombie dumb
8804               zombieland
8805                     zoom
8806                   zubaan
Name: title, Length: 8807, dtype: object

In [37]:
df["date_added"] = pd.to_datetime(df["date_added"], errors='coerce')
df["date_added"]

0      2021-09-25
1      2021-09-24
2      2021-09-24
3      2021-09-24
4      2021-09-24
          ...
8802   2019-11-20
8803   2019-07-01
8804   2019-11-01
8805   2020-01-11
8806   2019-03-02
Name: date_added, Length: 8807, dtype: datetime64[ns]

In [39]:
df.columns = (
    df.columns
    .str.strip()           # Remove leading/trailing spaces
    .str.lower()           # Convert to lowercase
    .str.replace(' ', '_') # Replace spaces with underscores
    .str.replace('-', '_') # Replace hyphens withÂ underscores
)
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [40]:
df.dtypes

show_id                 object
type                    object
title                   object
director                object
cast                    object
country                 object
date_added      datetime64[ns]
release_year             int64
rating                  object
duration                object
listed_in               object
description             object
dtype: object

In [ ]:
df['date_of_birth'] = pd.to_datetime(df['date_of_birth'], errors='coerce') = pd.to_datetime(df["date_added"], errors='coerce')

In [41]:
df["show_id"] = pd.to_numeric(df["show_id"], errors='coerce').astype('Int64')
df["show_id"]

0       <NA>
1       <NA>
2       <NA>
3       <NA>
4       <NA>
        ...
8802    <NA>
8803    <NA>
8804    <NA>
8805    <NA>
8806    <NA>
Name: show_id, Length: 8807, dtype: Int64

In [42]:
df["date_added"] = pd.to_datetime(df["date_added"], errors='coerce')
df["date_added"]

0      2021-09-25
1      2021-09-24
2      2021-09-24
3      2021-09-24
4      2021-09-24
          ...
8802   2019-11-20
8803   2019-07-01
8804   2019-11-01
8805   2020-01-11
8806   2019-03-02
Name: date_added, Length: 8807, dtype: datetime64[ns]

In [43]:
df["director"] = df["director"].astype(str)
df["director"]

0       Kirsten Johnson
1                   nan
2       Julien Leclercq
3                   nan
4                   nan
             ...
8802      David Fincher
8803                nan
8804    Ruben Fleischer
8805       Peter Hewitt
8806        Mozez Singh
Name: director, Length: 8807, dtype: object